.wrapper {
    margin-top: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 16px;

}

h1, h2 {
    color: #fcfcff;
    font-size: 4rem;
    text-shadow: 1px 1px 10px #756565;
}

button {
    padding: 8px;
    width: auto;
    height: auto;
    font-size: 2rem;
    font-weight: 800;
    border-radius: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #756565;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 1s; 
}