<div class="wrapper">
    <div class="info-wrapper">
        <div class="img-wrapper">
            <img [src]="product?.photo" alt="placeholder">
        </div>
        <h1>Informacje o produkcie:</h1>
        <p>Product ID: {{product?.id}}</p>
        <p>Nazwa produktu: {{product?.name}}</p>
        <p>Cena produktu: {{product?.price}}</p>
    </div>
    <div class="desc-wrapper">
        <p>Description: Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore iusto illum voluptatibus velit sit commodi?</p>
    </div>
</div>