.hero {
    & h1 {
        color: #fcfcfc;
        font-size: 3rem;
        text-shadow: 2px 2px 5px #757272;
    }

    & h2 {
        color: #fcfcfc;
        font-size: 2rem;
        text-shadow: 2px 2px 5px #757272;
    }
}


.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .button-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        & button {
            margin-top: 16px;
            width: 150px;
            height: 42px;
            border-radius: 8px;
            background-color: rgb(245, 245, 69);
            font-weight: 800;
            cursor: pointer;
        }

        & button:hover {
            background-color: rgb(226, 128, 0);
            transition: 0.5s ease;
        }
    }
}

.content-wrap {
    width: 100%;
    height: 100%;
}


.loader {
    color: #fcfcfc;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 3rem;
}

.item-list {
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 30px;
    margin-left: 40px;
}

//Forms 

.forms {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 32px;

    & .template-driven-form {
        margin-top: 32px;
        color: white;
        padding: 32px;
        border: 3px solid #fcfcfc;

        & p {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 16px;
        }
        & .info {
            font-size: 1.2rem;
            margin-top: 16px;
        }

        & .form {
            display: flex;
            flex-direction: column;
            justify-content: center;

            & .price-input {
                width: 50%;
            }

            & label {
                font-size: 1.3rem;
                padding: 5px;
            }

            & input {
                width: 100%;
                border-radius: 8px;
                font-size: 1.2rem;
            }

            & .button-box {
                margin-top: 10px;
                display: flex;
                justify-content: center;
                
                & button {
                width: 60%;
                padding: 8px;
                font-size: 1.1rem;
                border-radius: 8px;
                margin-top: 10px;
            }

            & button:not(:disabled):hover {
                border: 2px solid grey;
                background-color: rgb(177, 241, 80);
                transition: cubic-bezier(0.445, 0.05, 0.55, 0.95) 0.5s;
            }
            }

        }
    }

    & .reactive-form {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        border: 2px solid white;
        color: #fcfcfc;
        padding: 32px;

        & form {
            display: flex;
            flex-direction: column;
    
            & .price-input {
                width: 50%;
            }

            & label {
                font-size: 1.3rem;
                padding: 5px;
            }

            & input {
                width: 100%;
                border-radius: 8px;
                font-size: 1.2rem;
            }
        }
    }

    margin-bottom: 36px;
}


a {
    text-decoration: none;
    color: inherit;
}