<div class="content-wrap">
    <div class="hero">
        <h1>Sklepownik - twój katalogowy asystent! </h1>
        <br>
        <br>
        <h2>Poniżej znajduje się lista produktów dostępnych w sklepie!</h2>
    </div>
    <div class="form">
        <div class="form-wrapper">
                <p>Dodaj przedmioty do listy!</p>
                <label for="input-name">Nazwa produktu:</label>
                <input [(ngModel)]="newItemName" type="text" placeholder="Wpisz nazwe produktu..." id="input-name">
        
                <label for="input-price">Cena produktu:</label>
                <input [(ngModel)]="newItemPrice" type="text" placeholder="Wpisz cene..." id="input-price">
        
                <button class="add-button" (click)="addProduct()">Dodaj produkt!</button>
        </div>
    </div>
    

    <div class="item-list">
        <div *ngFor="let prod of products">
            <div class="content-wrapper">
                <div class="content">
                    <a [routerLink]="['/product', prod.id]">
                        <app-product-item-component [product]="prod"/>
                    </a>
                </div>
                <div class="button-wrapper">
                    <button (click)="onDeleteProduct(prod.id)">Usuń produkt!</button>
                </div>
            </div>
        </div>
    </div>
</div>

