/* You can add global styles to this file, and also import other style files */
:root, html, body {
    margin: 0;
    padding: 0;
    height: auto;
    background-color: #0c0c0c;
}

.content-wrap {
    margin-top: 74px;
}

* {
    margin: 0;
}