.wrapper {
    position: relative;
    height: calc(100vh - 74px);
    width: 100%;
}

.heroimg {
    left: 0;
    right: 0;
    position: absolute;
    width: 100%;
    height: 100vh;
    max-height: calc(100vh - 74px);;
    filter: grayscale(1);
    background-image: url(https://cdn.pixabay.com/photo/2020/02/20/13/25/city-4864747_1280.jpg);
    background-position: center;
    background-size: cover;
}

.heroimg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: 100vh;
    backdrop-filter: blur(2.3px);
}

.hero {
    & h1 {
        font-size: 4rem;
        color: #fcfcfc;
        text-shadow: 2px 2px 2px #000000;
    }

    & h2 {
        font-size: 2rem;
        color: #fcfcfc;
        text-shadow: 2px 2px 2px #000000;
    }

    left: 30px;
    top: 400px;
    position: absolute;
}

html, body {
    height: 100%;
}